.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project {
  background: var(--color-bg-variant);
  padding: 0.6rem;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.project__image {
  border-radius: 1.2rem;
  overflow: hidden;
}

.project h3 {
  margin: 0.6rem 1rem;
  font-size: 1rem;
}

.project__cta {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
  margin-left: 1rem;
}

.project__cta a {
  padding: 0.3rem 0.4rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.project__cta-icon {
  margin-right: 0.4rem;
}

@media (max-width: 1024px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
  }
}
@media (max-width: 600px) {
  .projects__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
