/* -------ICONS--------- */

.frontend__details-icon {
  font-size: 3rem;
  background-color: white;
}

#js {
  color: yellow;
  background-color: black;
}

#html {
  color: #dd4b25;
}

#css {
  color: #2162af;
}

#react {
  color: #5ed3f3;
}

/* List of details */

.frontend__details-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
